@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Shared Styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}
.flex-display{
    display: flex;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* dark-1 */
.dark-1{
    color: #131313;
}
/* dark-2 */
.dark-2{
    color: #424242;
}
/* dark-3 */
.dark-3{
    color: #727272;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
}
/* Nav Styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    /* list-style: none; */
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 2rem;
}

.item-link{
    text-decoration: none;
}

.nav-bar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner styles */

.banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 25px;
}

.banner-description{
    font-size: 1rem;
    margin-bottom: 32px;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-image{
    max-width: 100%;
}

/* Team section */
.team-container{
    align-items: center;
    margin: 85px 100px;
}
.image-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 73px;
    gap: 24px;
}
.image{
    border-radius: 8px;
}

.team-features{
    max-width: 530px;
}

.feature-name{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.feature-description{
    font-size: 1rem;
    margin-bottom: 1rem;
}
/* responsive for small device */

@media screen and (max-width: 576px){
    .nav-bar, .nav-links, .team-container{
        flex-direction: column;
    }
    .image-collage{
        grid-template-columns: repeat(1,1fr);
    }
    .team-container{
        margin: 30px 35px;
    }
    .image-collage{
        margin-right: 0;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-container{
        flex-direction: column;
    }
}